In [4]:
import pandas as pd

wine_data = pd.read_csv('white-wine-price-rating.csv') 

average_ratings = wine_data.groupby('Region')['WineRating'].mean().reset_index()

ranked_average_ratings = average_ratings.sort_values(by='WineRating', ascending=False).reset_index(drop=True)

ranked_average_ratings.head()

        Region  WineRating
0      Chilean    4.300000
1  Californian    4.239801
2  Argentinian    4.229630
3  Napa Valley    4.219355
4     Burgundy    4.201898

In [6]:
average_prices = wine_data.groupby('Region')['WinePrice'].mean().reset_index()

ranked_average_prices = average_prices.sort_values(by='WinePrice', ascending=False).reset_index(drop=True)

ranked_average_prices.head()

        Region   WinePrice
0     Burgundy  181.924496
1     Bordeaux  140.603407
2  Californian   99.136020
3      Chilean   89.650000
4  Napa Valley   80.241613